<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Sign Up Form with live validation</title>



    <link rel="stylesheet" href="css/style.css">


</head>

<body style="background: #e5e5e5">

<h2 style="float: right; margin-top:-3%;padding: 0px; "><a href="/logout">Logout</a></h2>

<form action="/profile" method="post">
    <h2>Profile</h2>
    <%if (updated==1) { %>
        <p style="color: #68B25B;font-size:12px; ">Successfully Updated Profile</p>
    <% } %>
    <p>
        <label for="Fname" class="floatLabel">First Name</label>
        <input id="Fname" name="fname" type="text" value="<%= user.firstname %>" required>
        <input id="id" name="id" type="hidden" value="<%= user_id %>">
    </p>
    <p>
        <label for="Lname" class="floatLabel">Last Name</label>
        <input id="Lname" name="lname" type="text" value="<%= user.lastname %>" required>
    </p>
    <p>
        <label for="Address" class="floatLabel">Address</label>
        <input id="Address" name="address" type="text" value="<%= user.address%>" required>
    </p>
    <p>
        <label for="Email" class="floatLabel">Email</label>
        <input id="Email" name="email" type="text" value="<%= user.email %>" required>
    </p>
    <p>
        <label for="password" class="floatLabel">Password</label>
        <input id="password" name="password" type="password" value="****">
    </p>
    <p>
        <input type="submit" value="Update My Account" id="submit">
    </p>
</form>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>



<script  src="/js/index.js"></script>




</body>

</html>
